<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card mb-4">
        <img [src]="product.thumbnail" class="card-img-top" alt="{{ product.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <button class="btn btn-primary" (click)="addToFavorites(product)">Add to Favorites</button>
          <button class="btn btn-secondary" (click)="addToCart(product)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
